---
import Card from "@components/Card";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import getPostsByTag from "@utils/getPostsByTag";
import getSortedPosts from "@utils/getSortedPosts";
import getUniqueTags from "@utils/getUniqueTags";
import { type CollectionEntry } from "astro:content";
import { getPublishedPosts } from "../../utils/getPosts";
import slugify from "../../utils/slugify";

export interface Props {
  post: CollectionEntry<"blog">;
  tag: string;
}

export async function getStaticPaths() {
  const posts = await getPublishedPosts();
  const tags = getUniqueTags(posts);
  return tags.map(tag => {
    return {
      params: { tag },
      props: { tag },
    };
  });
}

const { tag } = Astro.props;

const sortTagsPost = await getSortedPosts();
const tagPosts = getPostsByTag(sortTagsPost, tag);
---

<Layout title={`Tag:${tag} | ${SITE.title}`}>
  <Main
    pageTitle={`Tag:${tag}`}
    pageDesc={`All the articles with the tag "${tag}".`}
  >
    <ul>
      {
        tagPosts.map(post => (
          <Card href={`/posts/${slugify(post)}`} frontmatter={post.data} />
        ))
      }
    </ul>
  </Main>
</Layout>
