---
import Card from '@components/Card';
import Footer from '@components/Footer.astro';
import { SITE } from '@config';
import Layout from '@layouts/Layout.astro';
import Main from '@layouts/Main.astro';
import getPostsByTag from '@utils/getPostsByTag';
import getSortedPosts from '@utils/getSortedPosts';
import getUniqueTags from '@utils/getUniqueTags';
import slugify from '@utils/slugify';
import { type CollectionEntry } from 'astro:content';
import { getPublishedPosts } from '../../utils/getPosts';

export interface Props {
  post: CollectionEntry<'blog'>;
  tag: string;
}

export async function getStaticPaths() {
  const posts = await getPublishedPosts();
  const tags = getUniqueTags(posts);
  return tags.map((tag) => {
    return {
      params: { tag },
      props: { tag },
    };
  });
}

const { tag } = Astro.props;

const sortTagsPost = await getSortedPosts();
const tagPosts = getPostsByTag(sortTagsPost, tag);
---

<Layout title={`Tag:${tag} | ${SITE.title}`}>
  <Main
    pageTitle={`Tag:${tag}`}
    pageDesc={`All the articles with the tag "${tag}".`}
  >
    <ul>
      {
        tagPosts.map(({ data }) => (
          <Card href={`/posts/${slugify(data)}`} frontmatter={data} />
        ))
      }
    </ul>
  </Main>
  <Footer />
</Layout>
