---
import { Image } from "astro:assets";
import authors from "../assets/authors.json";
import Datetime from "./Datetime";

interface Props {
  title: string;
  slug: string;
  publicationDate: string;
  minutesRead?: string;
  description: string;
  id: string;
  heroImage?: string;
  author: string;
}
const props = Astro.props;
/* @vite-ignore */
const hero = import("../assets/" + props.slug + ".png");
const author = (authors as any)[props.author];
---

<div class="flex items-center space-x-8">
  <div id={props.id}>
    <h1 class="mt-4 text-6xl font-semibold text-skin-accent md:text-6xl">
      {props.title}
    </h1>
    <p class="my-4 text-lg text-slate-500 md:text-xl">
      {props.description}
    </p>

    <div class="flex items-center space-x-2">
      <Datetime
        datetime={props.publicationDate}
        minutesRead={props.minutesRead}
        size="lg"
        className="my-2"
      />
      <span>|</span>
      <a href={author.mainUrl}>{author.displayName}</a>
    </div>
  </div>
  {
    (
      <Image
        width={325}
        class={"hidden rounded-xl lg:block"}
        src={hero}
        alt={"hero"}
      />
    )
  }
</div>
