---
import "@fontsource/inter";
import { AstroSeo } from "@astrolib/seo";
import { SITE } from "@config";
import "@styles/base.css";
import { ViewTransitions } from "astro:transitions";
import Sidebar from "../components/Sidebar.astro";
const currentYear = new Date().getFullYear();

export interface Props {
  pageTitle?: string;
  title?: string;
  author?: string;
  description?: string;
  ogImage?: string;
  canonicalURL?: string;
  article?: {
    publishedTime?: string;
    modifiedTime?: string;
    expirationTime?: string;
    authors?: (string | undefined)[];
    section?: string;
    tags?: string[];
  };
  schema?: string;
}
const {
  article = {},
  pageTitle,
  title = SITE.title,
  author = SITE.author,
  description = SITE.desc,
  ogImage = SITE.ogImage,
  schema,
  canonicalURL = new URL(Astro.url.pathname, Astro.site).href,
} = Astro.props;

const socialImageURL = new URL(ogImage, Astro.url.origin).href;
---

<!doctype html>
<html lang="en">
  <head>
    <ViewTransitions />
    <meta name="msvalidate.01" content="028AB3230C1387CBBF8E25014AAB09FE" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <link
      rel="search"
      type="application/opensearchdescription+xml"
      title="writer.sh"
      href="/opensearch.xml"
    />

    <meta name="generator" content={Astro.generator} />

    <!-- General Meta Tags -->
    <meta name="description" content={description} />
    <meta name="author" content={author} />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- Open Graph / Facebook -->
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:image" content={socialImageURL} />

    <!-- Fathom - beautiful, simple website analytics -->
    <script
      src="https://cdn.usefathom.com/script.js"
      is:inline
      data-honor-dnt="true"
      data-site="PBWPAFRL"
      defer></script>
    <!-- / Fathom -->

    <!-- Twitter -->
    {schema && <script type="application/ld+json" set:html={schema} />}

    <AstroSeo
      title={pageTitle || title}
      description={description}
      canonical={canonicalURL}
      twitter={{
        cardType: "summary_large_image",
        handle: "@ezzabuzaid",
        site: "@ezzabuzaid",
      }}
      openGraph={{
        url: canonicalURL,
        site_name: SITE.title,
        type: "article",
        article: {
          ...article,
          authors: (article.authors ?? []).filter(Boolean) as string[],
        },
        images: [
          {
            url: socialImageURL,
            width: 1200,
            height: 630,
            alt: title,
          },
        ],
      }}
    />

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  </head>
  <body>
    <!-- <Header /> -->
    <div class="flex justify-between">
      <div
        class="fixed inset-0 hidden w-[var(--sidebar-width)] overflow-auto border-r-2 border-r-stone-500 lg:block"
      >
        <div class="flex h-full flex-col px-6">
          <Sidebar />
          <div
            class="my-2 flex flex-col items-center whitespace-nowrap text-sm sm:flex-row"
          >
            <span>Copyright &#169; {currentYear}</span>
            <span class="hidden sm:inline">&nbsp;|&nbsp;</span>
            <span>All rights reserved.</span>
          </div>
        </div>
      </div>
      <div class="ml-auto mt-12 w-[var(--content-width)]">
        <slot />
      </div>
    </div>
  </body>
</html>
