---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Tag from "@components/Tag.astro";
import Datetime from "@components/Datetime";
import type { CollectionEntry } from "astro:content";
import { slugifyStr } from "@utils/slugify";
import NewsLetter from "../components/NewsLetter.astro";

export interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;

const {
  title,
  author,
  description,
  ogImage,
  canonicalURL,
  pubDatetime,
  tags,
  minutesRead,
} = post.data;

const { Content } = await post.render();
const ogUrl = new URL(ogImage ? ogImage : `${title}.png`, Astro.url.origin)
  .href;
---

<Layout
  title={title}
  author={author}
  description={description}
  ogImage={ogUrl}
  canonicalURL={canonicalURL}
  article={{
    publishedTime: pubDatetime?.toISOString(),
    authors: [author],
    tags,
    section: "Technology",
  }}
>
  <Header />
  <div class="mx-auto flex w-full max-w-3xl justify-start px-2">
    <button
      class="focus-outline mb-4 mt-8 flex hover:opacity-75"
      onclick="
      history.back();
      "
    >
      <svg xmlns="http://www.w3.org/2000/svg"
        ><path
          d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"
        ></path>
      </svg>

      <span>Go back</span>
    </button>
  </div>
  <main class="mx-auto w-full max-w-3xl px-4 pb-12">
      <Datetime
      datetime={pubDatetime}
      minutesRead={minutesRead}
      size="lg"
      className="my-2"
    />
    <h1 class="md:text-6xl mt-4 text-4xl font-semibold text-skin-accent">{title}</h1>
    <p class="md:text-xl text-lg my-4 text-slate-500">{description}</p>

    <article id="article" role="article" class="[word-spacing:.09em] prose prose-code:font-[monospace] mx-auto mt-8 max-w-3xl">
      <Content />
    </article>
    <a
      href="#"
      class="fixed bottom-8 right-8 flex transform items-center justify-center rounded-md p-2 transition duration-200 ease-out hover:-translate-y-1"
    >
      <span class="text-white text-6xl transition duration-200 ease-out"
        >⬆️</span
      >
    </a>

    <ul class="my-8">
      {tags.map(tag => <Tag name={slugifyStr(tag)} />)}
    </ul>
    <NewsLetter />

    <!-- <script
      src="https://giscus.app/client.js"
      data-repo="ezzabuzaid/blog"
      data-repo-id="R_kgDOKN0loA"
      data-category="General"
      data-category-id="DIC_kwDOKN0loM4CZCjp"
      data-mapping="url"
      data-strict="0"
      data-reactions-enabled="1"
      data-emit-metadata="1"
      data-input-position="top"
      data-theme="preferred_color_scheme"
      data-lang="en"
      data-loading="lazy"
      crossorigin="anonymous"
      async></script> -->
  </main>
  <Footer />
</Layout>

<script define:vars={{title}}>
document.addEventListener("DOMContentLoaded", function() {
  const articleEl = document.getElementById('article');
  articleEl?.querySelectorAll('a').forEach((anchorEl) => {
    const link = (anchorEl.getAttribute('href') ?? '');
    const isOutboundLink = link.startsWith('http') && !link.startsWith(window.location.origin);
    const eventName = isOutboundLink ? 'OutboundLink' : 'InternalLink';
    anchorEl.addEventListener('click', () => {
      console.log(eventName, link);
      window.plausible(eventName, {
        props: {
          href: link,
          blog: title
        }
      });
    });
  });
});
</script>
